trunk/Lavajato/LavajatoMobile/Web References/WSLavajato/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ServicoAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="servico" type="tns:Servico" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Servico">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Entrada" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Saida" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SubTotal" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Desconto" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Cor" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrdemServico" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Delete" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cancelado" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Lavado" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Finalizado" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="tns:Usuario" />
          <s:element minOccurs="0" maxOccurs="1" name="Cliente" type="tns:Cliente" />
          <s:element minOccurs="0" maxOccurs="1" name="ServicoItem" type="tns:ArrayOfServicoItem" />
          <s:element minOccurs="0" maxOccurs="1" name="FormaPagamento" type="tns:FormaPagamento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Endereco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bairro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cep" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Celular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cpf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Delete" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Permissao" type="tns:Permissao" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoFuncionario" type="tns:TipoFuncionario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Permissao">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Produto" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Usuario" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrdemServico" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Servico" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CategoriaProduto" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Relatorio" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Caixa" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipoFuncionario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cliente">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Placa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Veiculo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Endereco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bairro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cep" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Celular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cpf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Delete" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Convenio" type="tns:Convenio" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Convenio">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Delete" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Endereco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bairro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cep" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Celular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cpf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RG" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfServicoItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ServicoItem" nillable="true" type="tns:ServicoItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServicoItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantidade" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Servico" type="tns:Servico" />
          <s:element minOccurs="0" maxOccurs="1" name="Produto" type="tns:Produto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Produto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantidade" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Minimo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PrecoCompra" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorUnitario" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Estoque" type="tns:Estoque" />
          <s:element minOccurs="0" maxOccurs="1" name="CategoriaProduto" type="tns:CategoriaProduto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Estoque">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Data" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Minimo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantidade" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CategoriaProduto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FormaPagamento">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ServicoAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServicoAddResult" type="tns:Servico" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicoByCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cliente" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicoByClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServicoByClienteResult" type="tns:Servico" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicoByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="servico" type="tns:Servico" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicoByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServicoByIDResult" type="tns:Servico" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicoCriaGrid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="servico" type="tns:Servico" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicoCriaGridResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServicoCriaGridResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicoItemDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="servicoItem" type="tns:ServicoItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicoItemDeleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="ServicoItemAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="servicoItem" type="tns:ServicoItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicoItemAddResponse">
        <s:complexType />
      </s:element>
      <s:element name="ProdutoTipo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="categoriaProduto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProdutoTipoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProdutoTipoResult" type="tns:ArrayOfProduto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProduto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Produto" nillable="true" type="tns:Produto" />
        </s:sequence>
      </s:complexType>
      <s:element name="ClienteByPlaca">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cliente" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClienteByPlacaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClienteByPlacaResult" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClienteAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cliente" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClienteAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClienteAddResult" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ServicoAddSoapIn">
    <wsdl:part name="parameters" element="tns:ServicoAdd" />
  </wsdl:message>
  <wsdl:message name="ServicoAddSoapOut">
    <wsdl:part name="parameters" element="tns:ServicoAddResponse" />
  </wsdl:message>
  <wsdl:message name="ServicoByClienteSoapIn">
    <wsdl:part name="parameters" element="tns:ServicoByCliente" />
  </wsdl:message>
  <wsdl:message name="ServicoByClienteSoapOut">
    <wsdl:part name="parameters" element="tns:ServicoByClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ServicoByIDSoapIn">
    <wsdl:part name="parameters" element="tns:ServicoByID" />
  </wsdl:message>
  <wsdl:message name="ServicoByIDSoapOut">
    <wsdl:part name="parameters" element="tns:ServicoByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ServicoCriaGridSoapIn">
    <wsdl:part name="parameters" element="tns:ServicoCriaGrid" />
  </wsdl:message>
  <wsdl:message name="ServicoCriaGridSoapOut">
    <wsdl:part name="parameters" element="tns:ServicoCriaGridResponse" />
  </wsdl:message>
  <wsdl:message name="ServicoItemDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:ServicoItemDelete" />
  </wsdl:message>
  <wsdl:message name="ServicoItemDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:ServicoItemDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ServicoItemAddSoapIn">
    <wsdl:part name="parameters" element="tns:ServicoItemAdd" />
  </wsdl:message>
  <wsdl:message name="ServicoItemAddSoapOut">
    <wsdl:part name="parameters" element="tns:ServicoItemAddResponse" />
  </wsdl:message>
  <wsdl:message name="ProdutoTipoSoapIn">
    <wsdl:part name="parameters" element="tns:ProdutoTipo" />
  </wsdl:message>
  <wsdl:message name="ProdutoTipoSoapOut">
    <wsdl:part name="parameters" element="tns:ProdutoTipoResponse" />
  </wsdl:message>
  <wsdl:message name="ClienteByPlacaSoapIn">
    <wsdl:part name="parameters" element="tns:ClienteByPlaca" />
  </wsdl:message>
  <wsdl:message name="ClienteByPlacaSoapOut">
    <wsdl:part name="parameters" element="tns:ClienteByPlacaResponse" />
  </wsdl:message>
  <wsdl:message name="ClienteAddSoapIn">
    <wsdl:part name="parameters" element="tns:ClienteAdd" />
  </wsdl:message>
  <wsdl:message name="ClienteAddSoapOut">
    <wsdl:part name="parameters" element="tns:ClienteAddResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ServicoAdd">
      <wsdl:input message="tns:ServicoAddSoapIn" />
      <wsdl:output message="tns:ServicoAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServicoByCliente">
      <wsdl:input message="tns:ServicoByClienteSoapIn" />
      <wsdl:output message="tns:ServicoByClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServicoByID">
      <wsdl:input message="tns:ServicoByIDSoapIn" />
      <wsdl:output message="tns:ServicoByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServicoCriaGrid">
      <wsdl:input message="tns:ServicoCriaGridSoapIn" />
      <wsdl:output message="tns:ServicoCriaGridSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServicoItemDelete">
      <wsdl:input message="tns:ServicoItemDeleteSoapIn" />
      <wsdl:output message="tns:ServicoItemDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServicoItemAdd">
      <wsdl:input message="tns:ServicoItemAddSoapIn" />
      <wsdl:output message="tns:ServicoItemAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProdutoTipo">
      <wsdl:input message="tns:ProdutoTipoSoapIn" />
      <wsdl:output message="tns:ProdutoTipoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClienteByPlaca">
      <wsdl:input message="tns:ClienteByPlacaSoapIn" />
      <wsdl:output message="tns:ClienteByPlacaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClienteAdd">
      <wsdl:input message="tns:ClienteAddSoapIn" />
      <wsdl:output message="tns:ClienteAddSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServicoAdd">
      <soap:operation soapAction="http://tempuri.org/ServicoAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicoByCliente">
      <soap:operation soapAction="http://tempuri.org/ServicoByCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicoByID">
      <soap:operation soapAction="http://tempuri.org/ServicoByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicoCriaGrid">
      <soap:operation soapAction="http://tempuri.org/ServicoCriaGrid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicoItemDelete">
      <soap:operation soapAction="http://tempuri.org/ServicoItemDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicoItemAdd">
      <soap:operation soapAction="http://tempuri.org/ServicoItemAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProdutoTipo">
      <soap:operation soapAction="http://tempuri.org/ProdutoTipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClienteByPlaca">
      <soap:operation soapAction="http://tempuri.org/ClienteByPlaca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClienteAdd">
      <soap:operation soapAction="http://tempuri.org/ClienteAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServicoAdd">
      <soap12:operation soapAction="http://tempuri.org/ServicoAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicoByCliente">
      <soap12:operation soapAction="http://tempuri.org/ServicoByCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicoByID">
      <soap12:operation soapAction="http://tempuri.org/ServicoByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicoCriaGrid">
      <soap12:operation soapAction="http://tempuri.org/ServicoCriaGrid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicoItemDelete">
      <soap12:operation soapAction="http://tempuri.org/ServicoItemDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicoItemAdd">
      <soap12:operation soapAction="http://tempuri.org/ServicoItemAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProdutoTipo">
      <soap12:operation soapAction="http://tempuri.org/ProdutoTipo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClienteByPlaca">
      <soap12:operation soapAction="http://tempuri.org/ClienteByPlaca" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClienteAdd">
      <soap12:operation soapAction="http://tempuri.org/ClienteAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://187.25.130.29/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://187.25.130.29/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>